<section class="container create-user">
  <form [formGroup]="form" (ngSubmit)="createUser()">
    <mat-card class="card card-container">
      <mat-card-title>Cadastrar Usuário</mat-card-title>
      <mat-card-content class="form-field">
        <app-avatar formControlName="avatar"></app-avatar>
        <div class="form-field" formGroupName="personalInformation">
          <mat-form-field appearance="outline">
            <mat-label>First Name</mat-label>
            <input
              matInput
              type="text"
              id="firstName"
              formControlName="firstName"
            />
            <mat-error
              *ngIf="
                form.get('personalInformation.firstName')?.errors &&
                form.get('personalInformation.firstName')?.touched
              "
              >First name is required!</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Last Name</mat-label>
            <input
              matInput
              type="text"
              id="lastName"
              formControlName="lastName"
            />
            <mat-error
              *ngIf="
                form.get('personalInformation.lastName')?.errors &&
                form.get('personalInformation.lastName')?.touched
              "
              >Last name is required!</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" id="email" formControlName="email" />
            <mat-error
              *ngIf="
              form.get('personalInformation.email')?.errors?.['required'] && form.get('personalInformation.email')?.touched
            "
              >Email is required!</mat-error
            >
            <mat-error
              *ngIf="
              form.get('personalInformation.email')?.errors?.['pattern'] && form.get('personalInformation.email')?.touched
            "
              >Email must have pattern: "example@domain.com"!</mat-error
            >
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-content class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            id="username"
            formControlName="username"
          />
          <mat-error
            *ngIf="
            form.get('username')?.errors?.['required'] && form.get('username')?.touched
          "
            >Username is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('username')?.errors?.['minlength'] && form.get('username')?.touched
          "
            >Username must have minimum 6 characters!</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
          />
          <mat-error
            *ngIf="
            form.get('password')?.errors?.['required'] && form.get('password')?.touched
          "
            >Password is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('password')?.errors?.['pattern'] && form.get('password')?.touched
          "
            >Minimum eight characters, at least one uppercase letter, one
            lowercase letter, one number and one special character</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
          <mat-error
            *ngIf="
            form.get('confirmPassword')?.errors?.['required'] && form.get('confirmPassword')?.touched
          "
            >Password is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('confirmPassword')?.errors?.['not_matching'] && form.get('confirmPassword')?.touched
          "
            >The password doesn't match!</mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Selecione a empresa do usuário</mat-label>
          <mat-select formControlName="companyList" multiple>
            <mat-option
              *ngFor="let company of companyList"
              [value]="company.name"
              >{{ company.name }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="
            form.get('companyList')?.errors?.['required'] && form.get('companyList')?.touched
          "
            >Company is required!</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-content class="form-field-company">
        <div class="container-checkbox">
          <div formGroupName="personalInformation">
            <mat-checkbox formControlName="activated"
              >User is actived?</mat-checkbox
            >
          </div>
          <mat-checkbox formControlName="receiveEmails"
            >Receive email notifications?</mat-checkbox
          >
          <mat-error> </mat-error>
        </div>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-content class="form-field-profile">
        <mat-form-field appearance="outline">
          <mat-label>Access Profile</mat-label>
          <mat-select formControlName="companyList" multiple>
            <mat-option *ngFor="let role of roleList" [value]="role.role">{{
              role.role
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-content class="container-button">
        <div class="button">
          <button
            mat-stroked-button
            type="submit"
            [disabled]="!form.valid"
            [ngClass]="enableButton()"
          >
            Save
            <mat-icon>save</mat-icon>
          </button>
          <button mat-stroked-button (click)="cancel()">
            Cancel
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</section>
