<header class="header-container">
  <mat-divider vertical class="vertical-divider"></mat-divider>
  <div class="header-page-title">
      <h2>{{componentTitle}}</h2>
  </div>
  <div class="header-user-profile">
      <h1></h1>
  </div>
</header>
<!-- <header class="app-header">
  <mat-toolbar>
    <button mat-icon-button class="app-icon" aria-label="Menu Options" matTooltip="Click to expand the menu itens">
      <mat-icon>menu</mat-icon>
    </button>
    <img
      src="assets/images/logo.png"
      alt="Logo da aplicação">
    <mat-divider vertical class="vertical-divider"></mat-divider>
    <span class="spacer"></span>
    <button mat-icon-button class="icon-button" aria-label="Show notifications"
    matTooltip="See all notifications">
      <mat-icon>notifications</mat-icon>
    </button>
    <button mat-icon-button class="icon-button-image" matTooltip="Optimate Account">
    </button>
    <button mat-icon-button aria-label="Sair" matTooltip="Exit optiMate">
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </mat-toolbar>
</header> -->

