.card-container.card {
  display: flex;
  min-width: 70vh;
  max-width: 180vh;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.card {
  background-color: white;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

mat-card-content {
  width: 98%;
}

table {
  width: 100%;
}

.mat-mdc-form-field {
  font-size: 14px;
  width: 100%;
}

.avatar-img-card {
  width: 35px;
  height: 35px;
  margin: 15px auto 20px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.icon-flex-container {
  display: flex;
  justify-content: right;
  flex-wrap: wrap;
}

.add-button-container {
  padding-bottom: 16px;
}

.add-button + .add-button {
  margin-left: 8px;
}

.avatar-column {
  width: 10%;
}

.status-img-card {
  width: 20px;
  height: 20px;
  margin: 15px 10px 20px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.yellowButton {
  background-color: yellow;
}

.greenButton {
  background-color: green;
}

.redButton {
  background-color: red;
}

.mat-card-header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.mat-card-header .add-button {
  background-color: lightsteelblue;
}

.mat-card-header .mat-mdc-form-field {
  width: 25%;
}

.spacer {
  flex: 1 1 auto;
}
