<section class="container create-user">
  <mat-card class="card card-container">
    <mat-card-header class="mat-card-header">
      <div>
        <mat-card-title>User management</mat-card-title>
        <mat-card-subtitle>teste</mat-card-subtitle>
      </div>
      <span class="spacer"></span>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input
          matInput
          (keyup)="applyFilter($event)"
          placeholder="Ex. Fulano"
          #input
        />
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <button mat-stroked-button (click)="addUser()" class="add-button">
        Add
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-header>
    <mat-card-content>
      <table
        mat-table
        [dataSource]="dataSource"
        matSort
        class="mat-elevation-z8"
      >
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="avatar-column"></th>
          <td mat-cell *matCellDef="let user">
            <img
              id="avatar-img"
              class="avatar-img-card"
              src="{{ user.avatar?.avatar220 }}"
              alt="avatar"
            />
          </td>
        </ng-container>
        <ng-container matColumnDef="Username">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Username</th>
          <td mat-cell *matCellDef="let user">{{ user.username }}</td>
        </ng-container>
        <ng-container matColumnDef="Name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let user">
            {{
              user.personalInformation?.firstName +
                " " +
                user.personalInformation?.lastName
            }}
          </td>
          <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Role user</th>
            <td mat-cell *matCellDef="let user">
              <div *ngFor="let roles of user.roles">
                {{roles.role}}
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="Status">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
            <td mat-cell *matCellDef="let user">
              <button
                class="status-img-card"
                matTooltip="{{ user.status }}"
                [ngClass]="statusButton(user.status)"
              ></button>
            </td>
          </ng-container>
        </ng-container>
        <ng-container matColumnDef="Action">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let user">
            <div class="icon-flex-container">
              <button
                mat-icon-button
                matTooltip="Visualizar usuário"
                (click)="viewUser(user)"
                aria-label="Visualizar usuário"
              >
                <mat-icon>visibility</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Editar usuário"
                (click)="editUser(user)"
                aria-label="Editar usuário"
              >
                <mat-icon>edit</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Alterar senha do usuário"
                (click)="changePassword(user)"
                aria-label="Alterar senha do usuário"
              >
                <mat-icon>key</mat-icon>
              </button>
              <button
                mat-icon-button
                matTooltip="Apagar usuário"
                color="warn"
                (click)="deleteUser(user)"
                aria-label="apagar usuário"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">
            No data matching the filter "{{ input.value }}"
          </td>
        </tr>
      </table>
      <mat-paginator
        [pageSizeOptions]="[10, 25, 100]"
        aria-label="Select page of users"
      ></mat-paginator>
    </mat-card-content>
  </mat-card>
</section>
