<section class="container create-user">
  <form [formGroup]="form" (ngSubmit)="changePassword()">
    <mat-card class="card card-container">
      <mat-card-title>Change Password</mat-card-title>
      <mat-card-content class="form-field">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
          />
          <mat-error
            *ngIf="
            form.get('password')?.errors?.['required'] && form.get('password')?.touched
          "
            >Password is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('password')?.errors?.['pattern'] && form.get('password')?.touched
          "
            >Minimum eight characters, at least one uppercase letter, one
            lowercase letter, one number and one special character</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
          <mat-error
            *ngIf="
            form.get('confirmPassword')?.errors?.['required'] && form.get('confirmPassword')?.touched
          "
            >Password is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('confirmPassword')?.errors?.['not_matching'] && form.get('confirmPassword')?.touched
          "
            >The password doesn't match!</mat-error
          >
        </mat-form-field>
      </mat-card-content>
      <mat-card-content class="container-button">
        <div class="button">
          <button
            mat-stroked-button
            type="submit"
            [disabled]="!form.valid"
            [ngClass]="enableButton()"
          >
            Save
            <mat-icon>save</mat-icon>
          </button>
          <button mat-stroked-button (click)="cancel()">
            Cancel
            <mat-icon>cancel</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</section>
