.container {
  background-color: whitesmoke;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: whitesmoke;
}

mat-label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  display: flex;
  width: 600px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.card {
  background-color: white;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 30px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.form-field {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100%;
}

button {
  margin: 20px;
  color: grey;
  background-color: lightsteelblue;
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
