<div class="sidebar-container">
  <mat-toolbar class="sidebar-toolbar">
    <button
      mat-icon-button
      (click)="snav.toggle()"
      aria-label="Menu Options"
      matTooltip="Click to expand the menu itens"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <img
      routerLink="/home"
      routerLinkActive="active"
      src="assets/images/logo.png"
      alt="Logo da aplicação"
    />
    <app-header></app-header>
    <span class="spacer"></span>
    <button
      mat-icon-button
      class="icon-button"
      aria-label="Show notifications"
      matTooltip="See all notifications"
    >
      <mat-icon>notifications</mat-icon>
    </button>
    <button
      style="background-image: url('{{ currentUser.avatar }}') "
      mat-icon-button
      [matMenuTriggerFor]="menu"
      class="icon-button-image"
      matTooltip="Optimate Account"
    ></button>
    <mat-menu #menu="matMenu">
      <div class="container-card">
        <button
          mat-icon-button
          style="background-image: url('{{ currentUser.avatar }}') "
          class="menu-button-image"
        >
        </button>
        <div class="text-container">
          <span class="menu-button-name">{{ currentUser.name }}</span>
          <span class="menu-button-email">{{ currentUser.email }}</span>
        </div>
      </div>
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        (click)="profile()"
        aria-label="Sair"
        matTooltip="User information"
      >
        <mat-icon>person</mat-icon>
        <span>Your Profile</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Check voice mail</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Disable alerts</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item>
        <mat-icon>info</mat-icon>
        <span>Information</span>
      </button>
      <button mat-menu-item>
        <mat-icon>contact_support</mat-icon>
        <span>Support</span>
      </button>
      <mat-divider></mat-divider>
      <button
        mat-menu-item
        (click)="logout()"
        aria-label="Sair"
        matTooltip="Exit optiMate"
      >
        <mat-icon>exit_to_app</mat-icon>
        <span>Sign Out</span>
      </button>
    </mat-menu>
  </mat-toolbar>
  <mat-sidenav-container class="sidebar-sidenav-container" autosize>
    <mat-sidenav #snav mode="side" fixedTopGap="56" opened="true">
      <app-side-navbar></app-side-navbar>
    </mat-sidenav>
    <mat-sidenav-content class="router-container">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
