.sidebar-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.sidebar-toolbar {
  background-color: lightsteelblue;
  padding: 0 8px;
  min-height: 45px;
  height: 45px;
}

.sidebar-is-mobile .sidebar-toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

img {
  display: flex;
  width: 193px;
  height: 150px;
  // padding-right: 103px;
}

.loader-container {
  height: 3px;
}

h1.sidebar-app-name {
  margin-left: 8px;
  width: 185px;
}

.sidebar-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  background-color: whitesmoke;
  // background-color: rgb(223, 222, 222) !important;
}

.sidebar-is-mobile .sidebar-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}

.mat-drawer {
  width: 250px;
}

.router-container {
  padding: 5px 20px;
}

.spacer {
  flex: 1 1 auto;
}

.icon-button-image {
  background-size: contain;
  width: 32px;
  height: 32px;
  margin: 5px 5px;
}

.active {
  border-bottom: 5px solid white;
  color: white;
  transition: 300ms ease-in;
}

.container-card {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  height: 80px;
}

.text-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}

.menu-button-image {
  background-size: contain;
  width: 45px;
  height: 45px;
  margin: 0 10px 10px;
}

.menu-button-name {
  font-size: 14px;
}

.menu-button-email {
  color: grey;
  font-size: 10px;
  margin-top: -7px;
}
