<h2 mat-dialog-title>Delete user</h2>
<mat-dialog-content>
  Would you like to delete {{ username }} ?
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="close()" mat-dialog-close>No</button>
  <button mat-button mat-dialog-close (click)="deleteUser(id)" cdkFocusInitial>Ok</button>
</mat-dialog-actions>
