mat-label {
  display: block;
  margin-top: 10px;
}

::ng-deep .mat-mdc-dialog-container {
  --mdc-dialog-container-color: whitesmoke;
}

.card-container.card {
  display: flex;
  width: 700px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.card {
  background-color: white;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.container-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-field {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  width: 100%;
}

.form-field-company {
  margin-top: 20px;
  padding-left: 120px;
  display: flex;
  align-items: left;
  justify-content: left;
  width: 100%;
}

.container-checkbox {
  margin-top: 20px;
  display: flex;
  width: 70%;
  flex-direction: column;
  flex-wrap: wrap;
}

button {
  margin: 30px;
  color: grey;
  background-color: lightsteelblue;
}

.company-selection {
  opacity: 0.75;
  font-size: 0.75em;
}
