<section class="container edit-user">
  <header class="header">
    <h2>Edit user</h2>
  </header>
  <form [formGroup]="form" (ngSubmit)="editUser()">
    <div class="card card-container">
      <app-avatar formControlName="avatar"></app-avatar>
      <div class="form-field" formGroupName="personalInformation">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            id="firstName"
            formControlName="firstName"
          />
          <mat-error
            *ngIf="
              form.get('firstName')?.errors && form.get('firstName')?.touched
            "
            >First name is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            id="lastName"
            formControlName="lastName"
            value="{{ user.personalInformation.lastName }}"
          />
          <mat-error
            *ngIf="
              form.get('lastName')?.errors && form.get('lastName')?.touched
            "
            >Last name is required!</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            id="username"
            formControlName="username"
            value="{{ user.username }}"
          />
          <mat-error
            *ngIf="
            form.get('username')?.errors?.['required'] && form.get('username')?.touched
          "
            >Username is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('username')?.errors?.['minlength'] && form.get('username')?.touched
          "
            >Username must have minimum 6 characters!</mat-error
          >
        </mat-form-field>
        <mat-form-field formGroupName="personalInformation">
          <mat-label>Email</mat-label>
          <input
            matInput
            type="email"
            id="email"
            formControlName="email"
            value="{{ user.personalInformation.email }}"
          />
          <mat-error
            *ngIf="
            form.get('email')?.errors?.['required'] && form.get('email')?.touched
          "
            >Email is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('email')?.errors?.['pattern'] && form.get('email')?.touched
          "
            >Email must have pattern: "example@domain.com"!</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-field-company">
        <mat-form-field>
          <mat-label>Selecione a empresa do usuário</mat-label>
          <mat-select formControlName="companyList" multiple>
            <mat-option *ngFor="let company of companyList" [value]="company.name">{{
              company.name
            }}</mat-option>
          </mat-select>
          <mat-error
            *ngIf="
            form.get('companyList')?.errors?.['required'] && form.get('companyList')?.touched
          "
            >Company is required!</mat-error
          >
        </mat-form-field>
      </div>
      <div class="container-checkbox">
        <div formGroupName="personalInformation">
          <mat-checkbox
            formControlName="activated"
            value="{{ user.personalInformation.activated }}"
            >User is actived?</mat-checkbox
          >
        </div>
        <mat-checkbox
          formControlName="receiveEmails"
          value="{{ user.receiveEmails }}"
          >Receive email notifications?</mat-checkbox
        >
        <mat-error> </mat-error>
      </div>
      <div class="button">
        <button
          mat-stroked-button
          type="submit"
          [disabled]="!form.valid"
          [ngClass]="enableButton()"
        >
          Save
          <mat-icon>save</mat-icon>
        </button>
        <button mat-stroked-button (click)="cancel()">
          Cancel
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </form>
</section>
