.card-container.card {
  display: flex;
  width: 800px;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}

.card {
  background-color: white;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.icon-user-image {
  background-size: contain;
  width: 80px;
  height: 80px;
  margin: 0 5px;
}

.mat-card-title {
  margin-top: 20px;
}

.id-user-title {
  margin: 0px 2px;
  color: grey;
}

.user-mat-card-content {
  margin: 30px 10px 15px;
}

button {
  margin: 20px;
  color: grey;
  background-color: lightsteelblue;
}
