<section class="container create-user">
  <mat-card class="card card-container">
    <mat-card-header>
      <div
        mat-card-avatar
        class="icon-user-image"
        style="background-image: url('{{ currentUser.avatar }}')"
      ></div>
      <mat-card-title class="mat-card-title"
        >{{ currentUser.username }}
        <span class="id-user-title">#{{ currentUser.id }} </span>
      </mat-card-title>
      <mat-card-subtitle>{{ currentUser.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="user-mat-card-content">
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="editUser(user)">Edit user</button>
      <button mat-button (click)="changePassword(user)">Change password</button>
    </mat-card-actions>
  </mat-card>
</section>
