<section class="container save-role">
  <form [formGroup]="form" (ngSubmit)="addRole()">
    <mat-card class="card card-container">
      <mat-card-title>Role Permissions</mat-card-title>
      <mat-card-content class="form-field">
        <mat-form-field appearance="outline">
          <mat-label>Role name</mat-label>
          <input
            matInput
            type="text"
            id="role"
            formControlName="role"
          />
        </mat-form-field>
        <div class="button">
          <button
            mat-stroked-button
            type="submit"
          >
            Add
            <mat-icon>add</mat-icon>
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </form>
</section>

