<section class="container create-user">
  <header class="header">
    <h2>Cadastrar usuário</h2>
  </header>
  <form [formGroup]="form" (ngSubmit)="createUser()">
    <div class="card card-container">
      <app-avatar formControlName="avatar"></app-avatar>
      <div class="form-field">
        <mat-form-field>
          <mat-label>First Name</mat-label>
          <input
            matInput
            type="text"
            id="firstName"
            formControlName="firstName"
          />
          <mat-error
            *ngIf="
              form.get('firstName')?.errors && form.get('firstName')?.touched
            "
            >First name is required!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            id="lastName"
            formControlName="lastName"
          />
          <mat-error
            *ngIf="
              form.get('lastName')?.errors && form.get('lastName')?.touched
            "
            >Last name is required!</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input
            matInput
            type="text"
            id="username"
            formControlName="username"
          />
          <mat-error
            *ngIf="
            form.get('username')?.errors?.['required'] && form.get('username')?.touched
          "
            >Username is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('username')?.errors?.['minlength'] && form.get('username')?.touched
          "
            >Username must have minimum 6 characters!</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput type="email" id="email" formControlName="email" />
          <mat-error
            *ngIf="
            form.get('email')?.errors?.['required'] && form.get('email')?.touched
          "
            >Email is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('email')?.errors?.['pattern'] && form.get('email')?.touched
          "
            >Email must have pattern: "example@domain.com"!</mat-error
          >
        </mat-form-field>
      </div>
      <div class="form-field">
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            type="password"
            id="password"
            formControlName="password"
          />
          <mat-error
            *ngIf="
            form.get('password')?.errors?.['required'] && form.get('password')?.touched
          "
            >Password is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('password')?.errors?.['pattern'] && form.get('password')?.touched
          "
            >Minimum eight characters, at least one uppercase letter, one
            lowercase letter, one number and one special character</mat-error
          >
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            type="password"
            id="confirmPassword"
            formControlName="confirmPassword"
          />
          <mat-error
            *ngIf="
            form.get('confirmPassword')?.errors?.['required'] && form.get('confirmPassword')?.touched
          "
            >Password is required!</mat-error
          >
          <mat-error
            *ngIf="
            form.get('confirmPassword')?.errors?.['not_matching'] && form.get('confirmPassword')?.touched
          "
            >The password doesn't match!</mat-error
          >
        </mat-form-field>
      </div>
      <div class="container-checkbox">
        <mat-checkbox formControlName="activated"
          >User is actived?</mat-checkbox
        >
        <mat-checkbox formControlName="receiveEmails"
          >Receive email notifications?</mat-checkbox
        >
        <mat-error> </mat-error>
      </div>
      <div class="button">
        <button
          mat-stroked-button
          type="submit"
          [disabled]="!form.valid"
          [ngClass]="enableButton()"
        >
          Save
          <mat-icon>save</mat-icon>
        </button>
        <button mat-stroked-button (click)="cancel()">
          Cancel
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
    </div>
  </form>
</section>
